:root {
  // --- Fonts ------------------------
  --regular-font: "punch-out", monospace;

  // ---Colors ------------------------
  --light-blue: #8dd4fb;
  --blue: #4c55ef;
  --dark-blue: #002c51;
  --cyan: #009bf9;

  --light-green: #95ebaa;
  --green: #6dd15e;

  --salmon: #ffbda2;
  --orange: #f5532a;
  --brown: #581d09;
}