@use '../partials/boxer-card';

.round {
  position: relative;
  height: 100%;
  font-size: 3vmin;
  background-color: black;

  %led-on {
    background-color: white;
    border-radius: 35%;
  }
  
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    transition: transform 1s linear;
    
    .transition & {
      transform: translateY(-50%);
    }
  }
  
  &__presentation { 
    position: relative;
    height: 50%;
    
    .screen__safe-zone {
      display: flex;
      max-width: 120vmin;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 auto;
    }
  }
  
  &__vs {
    flex: 0 0 6em;
    text-align: center;
    color: var(--salmon);
  }
  
  &__board {
    position: relative;
    height: 50%;
    
    .screen__safe-zone {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  } 
  
  .board {
    text-align: center;
    color: var(--salmon);
    font-size: 3.5vmin;
    
    &__title {
      font-size: 1.4em;
      margin: 0 0 0.5em;
    }
    
    &__line {
      display: flex;
    }
    
    &__led {
      display: inline-block;
      width: 4vmin;
      height: 4vmin;
      margin: 0.3vmin;
      background-color: var(--brown);
    }
    
    &--nbr1 {
      .board__line {
        &:nth-child(3) .board__led {
          &:nth-child(6),
          &:nth-child(7) { @extend %led-on; }      
        }
        &:nth-child(4) .board__led {
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7) { @extend %led-on; }      
        }
        &:nth-child(5) .board__led {
          &:nth-child(4),
          &:nth-child(6),
          &:nth-child(7) { @extend %led-on; }      
        }
        &:nth-child(6) .board__led,
        &:nth-child(7) .board__led,
        &:nth-child(8) .board__led,
        &:nth-child(9) .board__led,
        &:nth-child(10) .board__led,
        &:nth-child(11) .board__led,
        &:nth-child(12) .board__led,
        &:nth-child(13) .board__led {
          &:nth-child(6),
          &:nth-child(7) { @extend %led-on; }      
        }
        &:nth-child(14) .board__led {
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(9) { @extend %led-on; }      
        }
      }
    }
    &--nbr2 {
      .board__line {
        &:nth-child(3) .board__led {
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8){ @extend %led-on; } 
        }
        &:nth-child(4) .board__led {
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(8),
          &:nth-child(9){ @extend %led-on; } 
        }
        &:nth-child(5) .board__led {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(9),
          &:nth-child(10){ @extend %led-on; } 
        }
        &:nth-child(6) .board__led {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(9),
          &:nth-child(10){ @extend %led-on; } 
        }
        &:nth-child(7) .board__led {
          &:nth-child(8),
          &:nth-child(9),
          &:nth-child(10){ @extend %led-on; } 
        }
        &:nth-child(8) .board__led {
          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(9){ @extend %led-on; } 
        }
        &:nth-child(9) .board__led {
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7){ @extend %led-on; } 
        }
        &:nth-child(10) .board__led {
          &:nth-child(4),
          &:nth-child(5){ @extend %led-on; } 
        }
        &:nth-child(11) .board__led {
          &:nth-child(3),
          &:nth-child(4){ @extend %led-on; } 
        }
        &:nth-child(12) .board__led {
          &:nth-child(3),
          &:nth-child(4){ @extend %led-on; } 
        }
        &:nth-child(13) .board__led {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(9),
          &:nth-child(10){ @extend %led-on; } 
        }
        &:nth-child(14) .board__led {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(9),
          &:nth-child(10){ @extend %led-on; } 
        }
      }
    }
    &--nbr3 {
      .board__line {
        &:nth-child(3) .board__led {
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8){ @extend %led-on; } 
        }
        &:nth-child(4) .board__led {
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(8),
          &:nth-child(9){ @extend %led-on; } 
        }
        &:nth-child(5) .board__led {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(9),
          &:nth-child(10){ @extend %led-on; } 
        }
        &:nth-child(6) .board__led {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(9),
          &:nth-child(10){ @extend %led-on; } 
        }
        &:nth-child(7) .board__led {
          &:nth-child(8),
          &:nth-child(9){ @extend %led-on; } 
        }
        &:nth-child(8) .board__led {
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8){ @extend %led-on; } 
        }
        &:nth-child(9) .board__led {
          &:nth-child(8),
          &:nth-child(9){ @extend %led-on; } 
        }
        &:nth-child(10) .board__led {
          &:nth-child(9),
          &:nth-child(10){ @extend %led-on; } 
        }
        &:nth-child(11) .board__led {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(9),
          &:nth-child(10){ @extend %led-on; } 
        }
        &:nth-child(12) .board__led {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(9),
          &:nth-child(10){ @extend %led-on; } 
        }
        &:nth-child(13) .board__led {
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(8),
          &:nth-child(9){ @extend %led-on; } 
        }
        &:nth-child(14) .board__led {
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8){ @extend %led-on; } 
        }
      }
    }
  }
}